* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  color: #fff1c1;
  background-color: #293462;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 70%;
  height: 70%;
}

.orange {
  color: #fe5f55;
}

.aboutme {
  margin-top: 5%;
  line-height: 1.5em;
  letter-spacing: 2px;
  text-align: justify;
}

ul {
  margin-top: 5%;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

li {
  letter-spacing: 2px;
  font-weight: bold;
  background-color: #a64942;
  padding: 1em;
  margin: 0 1em 1em 0;
  white-space: nowrap;
}
/* main {
  background-color: #222831;
  height: 100vh;
  width: 100%;
} */
